.login-idpw {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  width: auto;
  font-size: 2rem;
  height: auto;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
}
.login-button {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 3%;
  justify-content: center;
  text-align: center;
}
