input[type="text"]:focus{
  border: 0.3rem solid rgb(255, 42, 0);
  transition: 400ms;
}

input[type="password"]:focus{
  border: 0.3rem solid rgb(255, 42, 0);
  transition: 400ms;
}
.imgname-button:hover{
  color:rgb(255, 42, 0);
}

.file-button:hover{
  background-color: black;
  border: 0.3rem solid rgb(255, 42, 0);
  color: white;
  transition: 300ms;
}


input[type="text"]{
  width: 20rem;
  border: 0.3rem solid rgb(38, 46, 59);
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 1.8rem;
  font-size: 1.1rem;
  height: auto;
  outline: none;
  transition: 400ms;
}

input[type="password"]{
  width: 20rem;
  border: 0.3rem solid rgb(38, 46, 59);
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 1.8rem;
  font-size: 1.1rem;
  height: auto;
  outline: none;
  transition: 400ms;
}

.admin-button:hover{
  background-color: black;
  border: 0.3rem solid rgb(255, 42, 0);
  color: white;
  transition: 300ms;
}

.admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}
.admin-container__sample {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  justify-content: center;
}
.admin-editor {
  margin-top: 2rem;
  width: 55rem;
  font-family: sans-serif !important;
}
.admin-main {
  text-align: center;
  font-size: 4rem;
}
.admin-titletagdate {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 700px;
  font-size: 1rem;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
input[type="file"]{
  display: none;
}
.imgname-container{
  display: flex;
  justify-content: space-between;
  width: 26rem;
  font-size: 0.9rem;
  align-items: center;
}
.imgname-button{
  font-size: 1rem;
  width: auto;
  text-align: center;
  background-color: transparent;
  background-clip: padding-box;
  color: white;
  border: none;
  cursor: pointer;
  transition: 300ms;
}
.sample-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
}
.sample-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
}
.w-md-editor-text-input {
  font-size: 1rem;
  letter-spacing: 0.02rem !important;
  word-spacing: 0.08rem !important;
  line-height: 202% !important;
}
.button-container {
  display: flex;
  flex-direction: column;
  width: 45rem;
  padding: 3%;
  justify-content: center;
  text-align: center;
}
.admin-button {
  font-size: 1.25rem;
  width: auto;
  text-align: center;
  padding: 2%;
  border: 0.3rem solid rgb(38, 46, 59);
  background-color: rgb(240, 236, 255);
  background-clip: padding-box;
  color: black;
  border-radius: 1.8rem;
  cursor: pointer;
  transition: 500ms;
}
.file-button{
  font-size: 1.2rem;
  display: flex;
  width: 15rem;
  justify-content: center;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border: 0.3rem solid rgb(38, 46, 59);
  background-color: rgb(240, 236, 255);
  background-clip: padding-box;
  color: black;
  border-radius: 1.8rem;
  cursor: pointer;
  transition: 500ms;
}
.sample-title {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
}
