@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.image-container {
  margin-top: 5%;
  display: flex;
  height: 500px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.postbutton {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 50px;
}

.image {
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 900px;
  max-height: 570px;
  align-items: center;
  object-fit: cover;
}

.post-title {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  
}

.post-tagsbox {
  margin: 0;
  display: flex;
  align-items: center;
  width: 700px;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.post-tags__button {
  font-size: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 0.5%;
  width: auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1.5%;
  border: 5px solid rgb(255, 42, 0, 0.75);
  background-color: rgb(232, 232, 232);
  background-clip: padding-box;
  color: black;
  border-radius: 30px;
}

.written-date {
  margin-bottom: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  height: auto;
  font-size: 20px;
  font-style: italic;
}

.post-title__item {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 42px;
  width: inherit;
  height: auto;
  font-weight: 800;
}

.post-body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px !important;
  letter-spacing: 0.4px !important;
  word-spacing: 1px !important;
  line-height: 215% !important;
  margin: auto;
  text-align: left;
  justify-content: center;
  width: 900px;
  margin-bottom: 100px;
  background-color: transparent !important;
}

.post-body h1 {
  letter-spacing: 0.4px !important;
  word-spacing: 1px !important;
  line-height: 130% !important;
  font-size: 42px !important;
  color: white !important;
  font-weight: 800 !important;
  width: inherit;
  font-family: "LeferiPoint-BlackObliqueA" !important;
}

.post-body img {
  width: 700px !important;
  max-height: 500px !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  object-fit: scale-down;
  background-color: rgb(24, 26, 28) !important;
}

.post-body h2 {
  letter-spacing: 0.4px !important;
  word-spacing: 1px !important;
  font-size: 33px !important;
  font-weight: bold !important;
  line-height: 250% !important;
  color: white !important;
  width: inherit;
  font-family: "LeferiPoint-BlackObliqueA" !important;
}
.post-body h3 {
  letter-spacing: 0.4px !important;
  word-spacing: 1px !important;
  line-height: 215% !important;
  font-size: 28px !important;
  color: white !important;
  font-weight: 700;
  width: inherit;
  font-family: "LeferiPoint-BlackObliqueA" !important;
}
.post-body blockquote {
  letter-spacing: 0.2px !important;
  word-spacing: 1px !important;
  font-size: 25px !important;
  width: auto;
  font-weight: 100 !important;
  background-color: rgba(255, 61, 22, 0.377);
  border-radius: 8px !important;
  word-break: break-all;
  line-height: 215%;
  word-wrap: break-word;
  font-size: 5px;
}

.post-body p {
  letter-spacing: 0.2px !important;
  word-spacing: 1px !important;
  line-height: 180% !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.88) !important;
  width: inherit;
  font-family: "LeferiPoint-BlackObliqueA" !important;
}
.post-body code,
pre {
  letter-spacing: 0.4px !important;
  word-spacing: 1px !important;
  line-height: 150% !important;
  font-size: 18px !important;
  color: white;
  background-color: rgb(65, 65, 65) !important;
  white-space: pre-line !important;
  border-radius: 8px !important;
  width: inherit;
  font-family: "LeferiPoint-BlackObliqueA" !important;
}

.post-body em,
strong,
del {
  letter-spacing: 0.4px !important;
  word-spacing: 1px !important;
  line-height: 215% !important;
  font-size: inherit !important;
  font-weight: 800 !important;
  color: white;
  width: inherit;
  font-family: "LeferiPoint-BlackObliqueA" !important;
}

.related-post__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 5%;
}

.related-post__content {
  width: 900px;
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 30px;
  padding: 45px;
  border-top: 5px solid gray;
}

