@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.image-container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.postbutton {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 50px;
}

.image {
  border: none;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  width: 60rem;
  max-height: 36rem;
  align-items: center;
  object-fit: cover;
}

.post-title {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 13rem;
  gap: 1.5rem;
}

.post-tagsbox {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post-tags__button {
  display: flex;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: auto;
  font-weight: 700;
  height: 3.3rem;
  border: 0.3rem solid rgb(255, 42, 0, 0.75);
  background-color: rgb(232, 232, 232);
  background-clip: padding-box;
  color: black;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.written-date {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: auto;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
}

.post-title__item {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.6rem;
  width: inherit;
  height: auto;
  font-weight: 800;
}

.post-body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.1rem !important;
  letter-spacing: 0.025rem !important;
  word-spacing: 0.006rem !important;
  line-height: 215% !important;
  margin: auto;
  text-align: left;
  justify-content: center;
  width: 55rem;
  margin-bottom: 6rem;
  background-color: transparent !important;
}

.post-body p {
  letter-spacing: 0.012rem !important;
  word-spacing: 0.006rem !important;
  line-height: 180% !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.88) !important;
  width: inherit;
}

.post-body h1 {
  letter-spacing: 0.025rem !important;
  word-spacing: 0.006rem !important;
  line-height: 130% !important;
  font-size: 2.6rem !important;
  color: white !important;
  font-weight: 800 !important;
  width: inherit;
}
.post-body img {
  width: 50rem !important;
  max-height: 31rem !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  object-fit: scale-down;
  background-color: rgb(24, 26, 28) !important;
}



.post-body h2 {
  letter-spacing: 0.025rem !important;
  word-spacing: 0.006rem !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  line-height: 250% !important;
  color: white !important;
  width: inherit;
}
.post-body h3 {
  letter-spacing: 0.025rem !important;
  word-spacing: 0.006rem !important;
  line-height: 215% !important;
  font-size: 1.7rem !important;
  color: white !important;
  font-weight: 700;
  width: inherit;
}
.post-body blockquote {
  letter-spacing: 0.012rem !important;
  word-spacing: 0.006rem !important;
  font-size: 1.6rem !important;
  width: auto;
  font-weight: 100 !important;
  background-color: rgba(255, 61, 22, 0.377);
  border-radius: 0.5rem !important;
  word-break: break-all;
  line-height: 215%;
  word-wrap: break-word;
}

.post-body ol {
  letter-spacing: 0.012rem !important;
  word-spacing: 0.006rem !important;
  line-height: 180% !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.88) !important;
  width: inherit;
}

.post-body code,
pre {
  letter-spacing: 0.025rem !important;
  word-spacing: 0.006rem !important;
  line-height: 150% !important;
  font-size: 1.1rem !important;
  color: white;
  background-color: rgb(65, 65, 65) !important;
  white-space: pre-line !important;
  border-radius: 0.5rem !important;
  width: inherit;
}

.post-body em,
strong,
del {
  letter-spacing: 0.025rem !important;
  word-spacing: 0.006rem !important;
  line-height: 215% !important;
  font-size: inherit;
  font-weight: 800 !important;
  color: white;
  width: inherit;
}

.related-post__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.related-post__content {
  width: 55rem;
  display: flex;
  justify-content: center;
  height: auto;
  font-size: 1.9rem;
  padding: 2.8rem;
  border-top: 0.4rem solid gray;
}


@media (max-width: 1100px) {
  .written-date {
    font-size: 12px;
    letter-spacing: 1px !important;
  }
  .post-tags__button {
    font-size: 12px !important;
    padding: 12px;
  }
  .post-title {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .post-title__item {
    font-size: 25px !important;
    font-weight: 800 !important;
    word-break:keep-all;
  }
  .post-body p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .post-body h2 {
    font-size: 21px !important;
    word-break:keep-all;
    font-weight: 600 !important;
  }
  .post-body h1 {
    font-size: 25px !important;
    font-weight: 800 !important;
    word-break:keep-all;
  }
  .post-body h3 {
    font-size: 18px !important;
    font-style: italic;
  font-weight: 500 !important;
    word-break:keep-all;
  }
  .post-body ol {
    font-size: 16px !important;
    font-weight: 700 !important;
    word-break:keep-all;
  }
  .post-body ul {
    font-size: 13px !important;
    font-style: italic;
    font-weight: 700 !important;
    word-break:keep-all;
  }
  .post-body blockquote {
    font-size: 16px !important;
    width: auto;
    font-style: italic;
    font-weight: 100 !important;
    background-color: rgba(255, 0, 0, 0.404);
    word-break:keep-all;
  }
  .post-body code,
pre {
  font-size: 15px !important;
}
}