@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "LeferiPoint-BlackObliqueA";
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 26, 28);
  color: white;
  box-sizing: border-box;
  position: absolute;

  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

h3 {
  font-weight: 700;
}
h4 {
  font-weight: 400;
  font-size: 1.2vw;
  
}
h5 {
  font-weight: 400;
  font-size: 0.9vw;
}
button {
  font-weight: 800;
}