@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Mansalva&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Tilt+Prism&display=swap');

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tags-button:link {
  color: white;
}
.tags-button:visited {
  color: white;
}
.tags-button:hover {
  border: 0.5rem solid rgb(255, 42, 0);
  border-radius: 4rem;
  transition-duration: 300ms;
}
.tags-button:active {
  border: 0.5rem solid rgb(255, 42, 0);
  border-radius: 4rem;
  background-color: white;
  color: black;
}

.tags {
  font-size: 6rem;
  font-family: 'Mansalva', cursive;
  text-align: center;
  font-weight: 800;
  margin-top: 2.5rem;
  padding: 2%;
}
.fadein {
  animation: fade-in 0.5s ease;
}

.tags-button {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 0.5rem solid rgb(38, 46, 59);
  background-color: rgb(59, 59, 59);
  background-clip: padding-box;
  color: white;
  border-radius: 4rem;
  transition: 300ms;
}

.tags-button__clicked {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 0.5rem solid rgb(255, 42, 0);
  background-color: white;
  background-clip: padding-box;
  color: black;
  border-radius: 4rem;
  transition: 300ms;
}

.container {
  display: flex;
  justify-content:center;
  
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding-left: 20vw;
  padding-right: 20vw;
  gap: 1.2rem;
  margin-bottom: 3%;
}

@media (max-width: 1100px) {
  .tags-button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  .tags-button__clicked {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  .container{
    padding-left: 15%;
    padding-right: 15%;
  }
}